.main {
    height:100vh;
    text-align: center;
    background-color: #acacdc;
}

.container {
    max-width: 1256px;
    margin: 0 auto;
    padding: 20px;
}

.title {
    color: rgb(109, 75, 114);
    margin: 0;
}

.greet {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    color: rgb(58, 29, 81);
}

header {
    background-color:rgb(92, 73, 110);
}

h1 {
    margin: 0;
    text-align: center;
    color: rgb(255, 255, 255);
}